# Mac system files
.DS_Store

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# LaTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz

# Data 
data/ (name of folder)
dataset/
Datasets/
*.csv
*.xlsx
*.parquet
*.txt
*.pq

# Output files
output/
